@charset "utf-8";

@font-face {
    font-family:'Pretendard';
    font-weight:100;
    font-display:swap;
    src: local('Pretendard Thin'), url('../fonts/Pretendard/Pretendard-Thin.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Thin.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:200;
    font-display:swap;
    src: local('Pretendard ExtraLight'), url('../fonts/Pretendard/Pretendard-ExtraLight.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-ExtraLight.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:300;
    font-display: swap;
    src: local('Pretendard Light'), url('../fonts/Pretendard/Pretendard-Light.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Light.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:400;
    font-display:swap;
    src: local('Pretendard Regular'), url('../fonts/Pretendard/Pretendard-Regular.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Regular.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:500;
    font-display:swap;
    src: local('Pretendard Medium'), url('../fonts/Pretendard/Pretendard-Medium.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Medium.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:600;
    font-display:swap;
    src: local('Pretendard SemiBold'), url('../fonts/Pretendard/Pretendard-SemiBold.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-SemiBold.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:700;
    font-display:swap;
    src: local('Pretendard Bold'), url('../fonts/Pretendard/Pretendard-Bold.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Bold.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:800;
    font-display:swap;
    src: local('Pretendard ExtraBold'), url('../fonts/Pretendard/Pretendard-ExtraBold.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-ExtraBold.subset.woff') format('woff');
}
@font-face {
    font-family:'Pretendard';
    font-weight:900;
    font-display:swap;
    src: local('Pretendard Black'), url('../fonts/Pretendard/Pretendard-Black.subset.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Black.subset.woff') format('woff');
}
