.ql-container.ql-snow {
    border: 1px solid #cccccc !important;
    border-radius: 5px !important;
}

.ql-editor{
    color: black;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="pretendard"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="pretendard"]::before {
    content: "Pretendard";
    font-family: "Pretendard", sans-serif, serif;
}
.ql-font-pretendard {
    font-family: "Pretendard", sans-serif, serif;
}

.ql-size-huge,
.ql-size span[data-value="huge"]::before {
    font-size: 20px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
    font-size: 14px !important;
}

.ql-editor ol {
    padding-left: 0 !important;
}

/*.ql-editor ol li[data-list="bullet"]::before {*/
/*    content: "•";*/
/*}*/
/*.ql-editor ol li.ql-indent-1[data-list="bullet"]::before {*/
/*    content: "○";*/
/*}*/
/*.ql-editor ol li.ql-indent-2[data-list="bullet"]::before {*/
/*    content: "▪";*/
/*}*/

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 1em !important;
}

.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 2em !important;
}

.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 3em !important;
}

.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 4em !important;
}

.ql-editor .ql-indent-1.ql-direction-rtl {
    padding-right: 1em !important;
}

.ql-editor .ql-indent-2.ql-direction-rtl {
    padding-right: 2em !important;
}

.ql-editor .ql-indent-3.ql-direction-rtl {
    padding-right: 3em !important;
}

.ql-editor .ql-indent-4.ql-direction-rtl {
    padding-right: 4em !important;
}
